body {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color:#d7d7d7;
}

.slider{
    position: relative;
    margin-left: auto;
    margin-right: auto;  
    
}

.logo{
    background-image: url(/assets/img/iicosystem_logo.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 10em;
    height:10em;
    position:fixed;
    top: 0;
    left: 10%;
    background-color: #00adee;
    z-index:20;
    
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}



.title{
    z-index:19;
    position:relative;
    background-color: #00adee;
    display: inline-block;
    color:white;
    font-size:72pt;
    letter-spacing:-6pt;
    
    padding:0px 7px 0px 0px;
    
    margin-top:25%;
    margin-left:10%;
    
    
}

.definition{
    position:relative;
    z-index:19;
     background-color: #00adee;
    display: inline-block;
     color:white;
    font-size:36pt;
    letter-spacing:-3pt;
    
    padding:0px 7px 0px 0px;
    
    margin-top:2%;
     margin-left:10%;
}

.content_wrapper{
    margin-left:10%;
    
}

.footer{
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    background-color:#d7d7d7;
    
}

@media only screen and (max-device-width: 1315px), screen and (max-width: 1315px) {
    .title{
       font-size:60pt;
        letter-spacing:-5pt; 
    }
    
    .definition{
       font-size:24pt;
        letter-spacing:-2pt; 
    }
}

@media only screen and (max-device-width: 1024px), screen and (max-width: 1024px) {
  .logo{
        width: 7.5em;
        height: 7.5em;
    }
    
    .title{
       font-size:40pt;
        letter-spacing:-4pt; 
    }
    
    .definition{
       font-size:18pt;
        letter-spacing:-1.5pt; 
    }
}

@media only screen and (max-device-width: 760px), screen and (max-width: 760px) {
  .logo{
        width: 5em;
        height: 5em;
    }
    
    .title{
       font-size:24pt;
        letter-spacing:-2pt; 
    }
    
    .definition{
       font-size:14pt;
        letter-spacing:-1pt; 
    }
}

@media only screen and (max-device-width: 500px), screen and (max-width: 500px) {
  .logo{
        position:relative;
        background-size:contain;
        left: 0%;
        width: 100%;
        height: 5em;
    }
    
    .title{
       margin-top:5%;
        margin-left:10%;
    }
    
    .definition{
       font-size:14pt;
        margin-left:10%;
        margin-right:10%;
    }

}